{%extends "layout.html"%}
{%block content%}
<h1>Search Movies</h1>
  <div class="content-section">
    <form method="POST" action="">
      {{form.hidden_tag()}}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">{{ legend }}</legend>
        <p>
            {{ form.select.label(class="form-control-label")}}<br>
            {{ form.select(class="form-control form-control-lg")}}<br>
            {% for error in form.text.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.text.label(class="form-control-label")}}<br>
            {{ form.text(class="form-control form-control-lg",cols="100", rows="1") }}<br>
            {% for error in form.text.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-primary btn-lg") }}
        <a href="{{url_for('submit2')}}" class="btn btn-outline-primary btn-lg" role="button" aria-pressed="true">Go to the Form Menu</a>

      </div>

    </form>
  </div>
{%endblock content%}
