{%extends "layout.html"%}
{%block content%}
<h1>New Movie Entry Form</h1>
  <div class="content-section">
    <form method="POST" action="">
      {{form.hidden_tag()}}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">{{ legend }}</legend>
        <p>
            {{ form.name.label(class="form-control-label")}}<br>
            {{ form.name(cols="100", rows="1") }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.year.label(class="form-control-label")}}<br>
            {{ form.year(cols="100", rows="1") }}<br>
            {% for error in form.year.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.runtime.label(class="form-control-label")}}<br>
            {{ form.runtime(cols="100", rows="1") }}<br>
            {% for error in form.runtime.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.actor.label(class="form-control-label")}}<br>
            {{ form.actor(class="form-control")}}<br>
            {% for error in form.actor.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.director.label(class="form-control-label")}}<br>
            {{ form.director(class="form-control")}}<br>
            {% for error in form.director.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-primary btn-lg") }}
        <a href="{{url_for('index')}}" class="btn btn-outline-primary btn-lg" role="button" aria-pressed="true">Go to the Main Menu</a>

      </div>

    </form>
  </div>
{%endblock content%}
