{%extends "layout.html"%}
{%block content%}
<h1>Forms</h1>
  <div class="content-section">
    <div class="form-group">
      <p><a href="{{url_for('form1')}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Search Movies</a></p>
      <p><a href="{{url_for('insert')}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Insert Movie</a></p>

      <p><a href="{{url_for('index')}}" class="btn btn-outline-primary btn-lg" role="button" aria-pressed="true">Go to the Main Menu</a></p>
    </div>

  </div>
{%endblock content%}
